
/*Buttons*/
.character {
	border-radius: 20px;
    border: #fff 2px solid;
    line-height: 40px;
    width: 150px;
    color: #fff;
    font-size: 31px;
    font-family: 'Tangerine', cursive;
    background-color: rgba(0,0,0,.75);
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.character:hover {
    color: #f1c40f;
    border: #f1c40f 2px solid;
}

.btn-default{
    border: #fff 2px solid !important;
    color: #fff !important;
    width: 120px !important;
    background-color: rgba(0,0,0,.75) !important;
    margin-top: 5px;
}

.btn-default:hover {
    color: #f1c40f !important;
    border: #f1c40f 2px solid !important;
}
/*General Design*/

body{
    background-image: url(../images/wallpaperring.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron{
    text-align: center;
    /*background-image: url(../images/header5.jpg) !important;*/
    background-color: rgba(0, 0, 0, 0.5) !important;
    background-size: 100%;
    height: 290px;
    /*border-bottom: #fff 4px solid;*/
}

.logo{
    position: relative;
    top: -5px;
}

/*Picture Gifs*/

.item{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;

}

/*Search Container*/

.search-container{
    float: right;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 500px;
}

.form-group{
    /*font-family: 'Tangerine', cursive;*/
    position: relative;
    top: -10px;

}

label{
    font-size: 24px;
    margin-bottom: 15px !important;
    font-family: 'Cinzel', serif !important;
    color: #f9eb6d;
}

form{
    background-color: rgba(0,0,0,.4);
    padding: 35px;
    border-radius: 20px;
}